In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                    'B': {0: 1, 1: 3, 2: 5},
                    'C': {0: 2, 1: 4, 2: 6}})

In [4]:
pd.melt(df, id_vars=['A'], value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

In [8]:
pd.melt(df, id_vars=['A'], value_vars=['B','C'], var_name='x', value_name='y')

   A  x  y
0  a  B  1
1  b  B  3
2  c  B  5
3  a  C  2
4  b  C  4
5  c  C  6

In [18]:
data = {
    "localizacao":['CidadeA', 'CidadeB'],
    "temperatura" : ["Prevista", "Atual"],
    "set-21":[30, 32],
    "out-21":[45, 43],
    "nov-21":[24, 22]
}
print(data)

{'localizacao': ['CidadeA', 'CidadeB'], 'temperatura': ['Prevista', 'Atual'], 'set-21': [30, 32], 'out-21': [45, 43], 'nov-21': [24, 22]}

In [19]:
df = pd.DataFrame(data, columns=['localizacao', 'temperatura','set-21','out-21','nov-21'])

In [20]:
df2 = df.melt(id_vars=['localizacao','temperatura'],value_vars=['set-21','out-21','nov-21'])
df2

  localizacao temperatura variable  value
0     CidadeA    Prevista   set-21     30
1     CidadeB       Atual   set-21     32
2     CidadeA    Prevista   out-21     45
3     CidadeB       Atual   out-21     43
4     CidadeA    Prevista   nov-21     24
5     CidadeB       Atual   nov-21     22