In [1]:
import pandas as pd
import numpy as np

In [2]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20130102'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'Python'})

In [3]:
df2.nunique()

A    1
B    1
C    1
D    1
E    2
F    1
dtype: int64

In [4]:
df2

     A          B    C  D      E       F
0  1.0 2013-01-02  1.0  3   test  Python
1  1.0 2013-01-02  1.0  3  train  Python
2  1.0 2013-01-02  1.0  3   test  Python
3  1.0 2013-01-02  1.0  3  train  Python

In [5]:
df2.drop_duplicates()

     A          B    C  D      E       F
0  1.0 2013-01-02  1.0  3   test  Python
1  1.0 2013-01-02  1.0  3  train  Python

In [6]:
df2.drop_duplicates(subset='E',keep='last')

     A          B    C  D      E       F
2  1.0 2013-01-02  1.0  3   test  Python
3  1.0 2013-01-02  1.0  3  train  Python

In [7]:
df2.sort_values(by= 'E', ascending=False)

     A          B    C  D      E       F
1  1.0 2013-01-02  1.0  3  train  Python
3  1.0 2013-01-02  1.0  3  train  Python
0  1.0 2013-01-02  1.0  3   test  Python
2  1.0 2013-01-02  1.0  3   test  Python