In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range('20200101', periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=['Var_A', 'Var_B', 'Var_C', 'Var_D'])

In [3]:
df

               Var_A     Var_B     Var_C     Var_D
2020-01-01  2.649514 -1.338887  0.858667 -0.553985
2020-01-02  0.934559 -1.243928  1.610222 -0.283444
2020-01-03 -0.920514  0.780831 -2.521184  0.651786
2020-01-04 -1.475188  0.587593  0.908917  0.927690
2020-01-05  1.234759  0.254582  0.711288  0.871074
2020-01-06 -0.214348 -0.272182  0.175586  0.523655

In [4]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20130102'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'Python'})

In [5]:
df2

     A          B    C  D      E       F
0  1.0 2013-01-02  1.0  3   test  Python
1  1.0 2013-01-02  1.0  3  train  Python
2  1.0 2013-01-02  1.0  3   test  Python
3  1.0 2013-01-02  1.0  3  train  Python

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df1 = df.reindex(index=datas[0:4], columns=list(df.columns) + ['Var_E'])
df1

               Var_A     Var_B     Var_C     Var_D  Var_E
2020-01-01  2.649514 -1.338887  0.858667 -0.553985    NaN
2020-01-02  0.934559 -1.243928  1.610222 -0.283444    NaN
2020-01-03 -0.920514  0.780831 -2.521184  0.651786    NaN
2020-01-04 -1.475188  0.587593  0.908917  0.927690    NaN

In [13]:
df1.loc[datas[0]:datas[1],'Var_E'] = 13
df1

               Var_A     Var_B     Var_C     Var_D  Var_E
2020-01-01  2.649514 -1.338887  0.858667 -0.553985   13.0
2020-01-02  0.934559 -1.243928  1.610222 -0.283444   13.0
2020-01-03 -0.920514  0.780831 -2.521184  0.651786    NaN
2020-01-04 -1.475188  0.587593  0.908917  0.927690    NaN

In [14]:
df1.dtypes

Var_A    float64
Var_B    float64
Var_C    float64
Var_D    float64
Var_E    float64
dtype: object